header{
	position: absolute;
	width: 1440px;
	height: 150px;
	left: 0px;
	top: 0px;
	background: #B4FFA8;
}

nav{
    width: 90%;
    position: absolute;
    top: 83px;
}
li{
    float: right;
    padding-right: 15px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
	font-weight: normal;
    color: black;
}

.logo{
	position: absolute;
	width: 300px;
	height: 100px;
	left: 54px;
	top: 25px;

}
.name{
	position: absolute;
	width: 977px;
	height: 79px;
	left: 89px;
	top: 150px;

	font-family: Scada;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 80px;

	color: #000000;
}
.service{
	position: absolute;
	width: 204px;
	height: 28px;
	left: 1050px;
	top: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 28px;
	text-align: center;

	color: #000000;
}
.garbuz_img{
	margin-top: 300px;
	padding:  20px;
	width: 150px;
	height: 150px;
}
.content-img{
    width: 60%;
    margin: auto;
}

.pre-footer{
	position: absolute;
	width: 1440px;
	height: 258px;
	left: 0px;
	top: 600px;

	background: #FFE6BD;
}
.price{

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #000000;

}
.info{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;

	color: #000000;


}
footer{
	position: absolute;
	width: 1440px;
	height: 89px;
	bottom:  0px;
	left:  0px;
	top:  857px;

	background: #389D27;
}
.copyright{
	position: absolute;
	top:  40px;
	left: 540px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}